<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

</head>

<body>
    <div id="container">
        <aside id="sidebar">
            {% include navi.html %}
        </aside>

        <main id="content">
            {{ content }}
        </main>
    </div>
</body>

</html>